.card-wizard .nav.nav-pills .nav-item .nav-link {
    font-size: 0.695rem;
}

.form-check,
label,
.col-form-label {
    font-size: 16px;
}

.form-check .form-check-label .circle,
.form-check .form-check-label .circle .check {
    width: 16px;
    height: 16px;
}

.form-horizontal .row {
    margin-top: 10px;
}

.form-horizontal .row .col-form-label {
    color: #555 !important;
    font-size: 18px !important;
}